google-generativeai
langchain-google-genai
langchain-community
pydantic
chromadb
langchain-chroma
langchain-core
pandas
numpy
matplotlib
tiktoken
pypdf 
pymupdf
unstructured
markdown
python-dotenv>=1.0.0
langchain_cohere
cohere
langchain_tavily
langchain_unstructured
supabase
upstash-redis
langchain-community 
redis
langchain-openai
langchain-mongodb
openai
requests
langgraph
typing-extensions
duckduckgo-search
langchain_anthropic